* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  background-color: #f5f5f5;
  margin-bottom: 20px; }

@font-face {
  font-family: HelveticaNeue;
  src: url(../Fonts/HelveticaNeue.ttf); }
@font-face {
  font-family: DINProReg;
  src: url(../Fonts/DINPro-Regular_13937.ttf); }
a {
  color: black;
  text-decoration-line: none; }

/* Start: Style navbar section */
.header {
  display: flex;
  justify-content: space-between;
  height: 63px;
  width: 100%;
  background-color: #D2D2D2;
  margin-bottom: 9px;
  padding: 0 21px 0 30px; }

.navbar {
  height: 63px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 145px; }
  .navbar li {
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    padding: 20px 17px 19px 12px;
    font-family: HelveticaNeue,sans-serif; }
    .navbar li span, .navbar li img {
      display: block; }

.logo {
  padding: 10px 0 14px 0; }

.logo2 {
  padding: 15px 0 15px 0; }
  .logo2 [src="Images/Old1.jpeg"] {
    border-radius: 50%; }

li:hover {
  background-color: #C2C2C0; }

/* End: Style navbar section */
/* Start: Add new group section */
.add-new-group {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  height: 60px; }
  .add-new-group .add-new-group-icon {
    padding-top: 4px; }
  .add-new-group div {
    padding-top: 2px;
    width: 90px; }
  .add-new-group div:hover {
    background-color: #E1E1E1; }
  .add-new-group * {
    text-align: center; }
  .add-new-group span {
    font-family: HelveticaNeue;
    font-size: 12.5px;
    display: block; }

/* End: Add new group section */
/* Start: Style main-content */
.main-content {
  display: flex;
  width: 100%; }

/* Start: Style map section */
.mapHeader {
  background-color: #b73653;
  width: 100%;
  position: relative;
  height: 51px;
  padding: 0 20px 0 31px; }
  .mapHeader span {
    font-family: HelveticaNeue;
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    position: absolute;
    top: 33%; }
  .mapHeader .iconForMap {
    position: absolute;
    right: 14px;
    top: 25%; }
    .mapHeader .iconForMap button {
      background: inherit;
      margin: 0 1px; }
    .mapHeader .iconForMap button:focus {
      outline: none; }

.map {
  width: 66.2%;
  margin-left: 20px;
  margin-top: 8px;
  height: 692px;
  resize: both;
  overflow: auto; }

/* End: Style map section */
/* Start: Style wearers section */
.wearers-block {
  margin: 8px 19px 0 33px;
  width: 28.25%; }
  .wearers-block .members-notification, .wearers-block .members-wearers {
    background-color: white; }
  .wearers-block .members-wearers {
    height: 290px;
    width: 100%;
    margin-bottom: 30px;
    resize: both;
    overflow: auto;
    border: 1px solid #E1E1E1;
    border-top: none;
    overflow: hidden; }
  .wearers-block .map-header {
    background-color: #b73653;
    width: 100%;
    position: relative;
    height: 51px;
    padding: 0 20px 0 31px; }
    .wearers-block .map-header span {
      font-family: HelveticaNeue;
      color: white;
      display: inline-block;
      vertical-align: middle;
      font-size: 21px;
      position: absolute;
      top: 28%; }
    .wearers-block .map-header .icon-for-members {
      position: absolute;
      right: 14px;
      top: 25%; }
      .wearers-block .map-header .icon-for-members button {
        background: inherit;
        margin: 0 1px; }
      .wearers-block .map-header .icon-for-members button:focus {
        outline: none; }
  .wearers-block .members-info {
    font-family: HelveticaNeue;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
    height: 47px;
    width: 100%;
    padding: 0 15px 0 20px; }
    .wearers-block .members-info img {
      border-radius: 50%;
      margin-right: 27px; }
    .wearers-block .members-info .delete-send {
      margin-left: auto;
      display: flex; }
      .wearers-block .members-info .delete-send div {
        border: 2px solid #E6E6E6;
        padding: 4px 5px;
        border-radius: 6px;
        margin-left: 7px; }
  .wearers-block .members-new {
    font-size: 14px;
    display: flex;
    height: 51px;
    padding: 0 15px 0 25px;
    align-items: center; }
    .wearers-block .members-new span {
      color: #B52F54;
      font-family: HelveticaNeue; }
    .wearers-block .members-new div {
      margin-right: 15px; }
  .wearers-block .add-new-tile {
    font-size: 22px;
    color: #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #B3B3B3;
    width: 100%;
    height: 75px;
    margin-top: 27px; }
    .wearers-block .add-new-tile div {
      display: inline; }
  .wearers-block .notifications-field {
    font-family: HelveticaNeue;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
    height: 80px;
    width: 100%;
    padding: 0 15px 0 20px; }
    .wearers-block .notifications-field img {
      border-radius: 50%;
      margin-right: 27px; }
    .wearers-block .notifications-field .notifications-info div {
      padding: 7px 0; }
    .wearers-block .notifications-field .notifications-info .circle {
      display: inline;
      width: 2px;
      height: 2px;
      background: #c50b0b;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px; }
    .wearers-block .notifications-field .notifications-info svg {
      padding: 0 13px 7px 13px; }
    .wearers-block .notifications-field .notifications-info .notification-time {
      font-size: 13px;
      font-family: HelveticaNeue;
      color: #B3B3B3; }
  .wearers-block .members-notification {
    resize: both;
    overflow: auto;
    border: 1px solid #E1E1E1;
    border-top: none; }
    .wearers-block .members-notification .notifications-field-see-all {
      font-family: HelveticaNeue;
      font-size: 14px;
      display: flex;
      align-items: center;
      height: 47px;
      width: 100%;
      padding: 0 15px 0 20px;
      color: #B3B3B3; }

.force-wristo {
  display: flex;
  margin-left: 20px;
  font-family: HelveticaNeue;
  font-size: 14px; }
  .force-wristo a {
    text-decoration-color: none;
    color: #565656; }
  .force-wristo div {
    margin-right: 32px; }

/*# sourceMappingURL=style.css.map */
